/* recipe stylesheet */

.container {
    border: 2px solid red;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.recipe-content ul,
.recipe-content ol,
.recipe-content p {
    text-align: left;
}