/* recipe stylesheet */
/* * {
    background-color: beige;
} */

body {
    background-color: wheat;
}


.container {
    border: 4px solid darkred;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: beige;
}

.container img {
    max-width: 500px;
}

.recipe-content ul,
.recipe-content ol,
.recipe-content p {
    text-align: left;
}